h1 {
    font-family: "Xanh Mono", Georgia, serif;
    font-size: 60px;
}

h2 {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

h3 {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
}

p {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}