* {
    margin: 0;
}

body {
    margin: 0 auto;
}

h1 {
    font-family: "Xanh Mono", Georgia, serif;
    font-size: 60px;
}

h2 {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
}

h3 {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
}

h4 {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

p {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

a {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
}

ul {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    list-style-type: circle;
    padding: .25em 1em;
}

li {
    font-family: "Manrope", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

ol {
    padding: 0.25em 1em;
}

.recipe-page-container {
    margin: 5em auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-page-header {
    /*background-color: #e6e6e6;*/
    margin: 3em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.recipe-header-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 0.75em;
}

.date {
    color: gray;
    font-size: 16px;
}

.recipe-info-card {
    background-color: hsla(35, 100%, 55%, 1);
    padding: 1em 1.5em;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card-top {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.recipe-reviews {
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
}

.recipe-reviews h4 {
    white-space: nowrap;
}

.recipe-time {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: white;
}

.recipe-info-card p {
    margin: 0;
    padding: 0;
    display: flex;
}

.macros {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: start;
    color: white;
}

.macros h3 {
    font-size: 2.5em;
    font-weight: 600;
    font-kerning: auto;
    letter-spacing: -0.02em;
}

.macros p {
    font-size: .8em;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.recipe-calories, .recipe-protein, .recipe-carbs, .recipe-fat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 2.5px;
    height: 75px;
    border-radius: 1em;
    background-color: white;
}

.recipe-image img {
    width: 100%;
    height: auto;
    display: block;
}

.recipe-image {
    width: 90vh;
    height: auto;
}

.how-to-make {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: start;
}

.how-to-make h2 {
    color: hsla(18, 46%, 21%, 1);
}

.ingredients, .instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}   

.ingredients-card, .instructions-card {
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.ingredients-card li, .instructions-card li {
    font-weight: 600;
    line-height: 2em;
}

.ingredients-card {
    background-color: hsla(35, 100%, 55%, 1);
    color: white;
}

.ingredients-card ul {
    list-style-type: none;
}

.instructions-card {
    border: 2.5px solid hsla(24, 76%, 50%, 1);
}

.instructions-card li {
    color: hsla(24, 76%, 50%, 1);
    line-height: 1.5em;
}

.footer {
    margin: 5em 0;
}